/***
    Base CSS for styling used across the entire site
    Applied in the order of reset.css > base.css > page's css
***/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-size: 100%;
    font-family: "Inter", sans-serif;
}

html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    margin: 30px 80px 0 80px;
}

.flex {
    flex: 1;
}

.flex-3-2 {
    flex: 1 1 auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    width: 100px; 
    height: 100px;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.homepage-card-div {
    display: flex;
    align-items: stretch;
}

.homepage-card {
    width: 200px;
}

.align-right {
    margin-left: auto;
}

header {
    padding: 30px 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(9, 9, 9);
    justify-content: space-around;
}

header a:link, header a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    color: salmon;
}

footer {
    text-align: center;
    padding: 30px 10px;
    font-size: 50%;
}

.user-info p {
    padding: 0px 10px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px;
}

.align-left {
    text-align: left;
}

table * {
    padding-right: 50px;
    margin: auto 0;
}

.profile-deloading, .profile-signup {
    text-align: center;
}