{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<header>
    <p><a href="{% url 'Admin:scholars-listview' %}">LIST OF<br>DORM SCHOLARS</a></p>
    <p><a href="{% url 'Admin:signup-hours-listview' %}">Signups<br> Hours</a></p>
    <a href="{% url 'Admin:admin_view' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Requests</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>Profile</h2>
<div class="flex-row">
    <div class="card flex-3-2 profile-details">
        <table>
            <tr class="align-left">
                <th>Name</th>
                <td><span>{{ scholar_details.scholar_LN }}</span>, {{ scholar_details.scholar_FN }} {{ scholar_details.scholar_MI}}. </td>
            </tr>
            <tr  class="align-left">
                <th>ID Number</th>
                <td>{{ scholar_details.scholar.user_id }}</td>
            </tr>
            <tr  class="align-left">
                <th>Yr. & Course Code</th>
                <td>{{ scholar_details.scholar_year }} {{ scholar_details.course }}</td>
            </tr>
            <tr  class="align-left">
                <th>OBF Email</th>
                <td>{{ scholar_details.scholar.email }}</td>
            </tr>
            <tr  class="align-left">
                <th>Bldg. & Room No.</th>
                <td>{{ scholar_details.room_code }}</td>
            </tr>
            <tr  class="align-left">
                <th>Contact No.</th>
                <td>{{ scholar_details.contact_no }}</td>
            </tr>
        </table>
        <div class="profile-edit-button"><button>EDIT PROFILE</button></div>
    </div>
    <div class="card flex profile-deloading flex-column">
        <h3>Deloading Request Status:</h3>
        <p class="flex">Not submitted</p>
        <div class="deloading-request-button"><button><a href="">VIEW REQUEST</a></button></div>
    </div>
</div>

<div class="card profile-signup">
    <h2>Signup</h2>
    <p>Scholar has not signed up<br>for dorm service hours yet.</p>
    <div><button><a href="">EDIT</a></button></div>
</div>
</main>
{% endblock %}