{% extends 'base.html' %}
{% load static %}

{% block title %}List of Dorm Scholars{% endblock %}

{% block content %}
<header>
    <p><a href="{% url 'Admin:scholars-listview' %}">Dorm Scholars</a></p>
    <p><a href="{% url 'Admin:signup-hours-listview' %}">Signups Hours</a></p>
    <a href="{% url 'Admin:admin_view' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Requests</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>SCHOLAR'S PROFILE</h2>
    
    <p>{{ registration.reg_id }}</p>
    <p>{{ scholar.room_code}}</p>
    <p>{{ registration.serv_hours.serv_hours_task }}</p>
</main>
{% endblock %}