{% extends 'base.html' %}
{% load static %}

{% block title %}White Card{% endblock %}

{% block content %}
<header>
    <p><a href="{% url 'Admin:scholars-listview' %}">LIST OF<br>DORM SCHOLARS</a></p>
    <p><a href="{% url 'Admin:signup-hours-listview' %}">Signups<br> Hours</a></p>
    <a href="{% url 'Admin:admin_view' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Requests</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>SCHOLAR'S WHITE CARD</h2>

<div class="card admin-scholar-white-card">
    <div class="white-card-details">
        <table>
            <tr>
                <td>Name</td>
                <td><span>{{ scholar_details.scholar_LN }}</span>, {{ scholar_details.scholar_FN }} {{ scholar_details.scholar_MI}}.</td>
            </tr>
            <tr>
                <td>ID Number</td>
                <td>{{ scholar_details.scholar.user_id }}</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Bldg & Room No.</td>
                <td>{{ scholar_details.room_code }}</td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>{{ scholar_details.contact_no }}</td>
            </tr>
        </table>
    </div>
    <br>
    <table class="admin-scholar-white-card-summary">
        <tr class="admin-scholar-white-card-header">
            <td>&nbsp;</td>
            <td>DATE</td>
            <td>TIME</td>
            <td>BLDG</td>
            <td>REMARKS</td>
            <td>TASKS PERFORMED</td>
            <td>STATUS</td>
        </tr>
        {% for reg in registration %}    
        <tr class="innerCard admin-scholar-white-card-body">
            <td>{{ forloop.counter}}</td>
            <td>{{ reg.serv_hours.serv_hours_date }}</td>
            <td>{{ reg.serv_hours.serv_hours_start_time }} - {{ reg.serv_hours.serv_hours_end_time }}</td>
            <td>{{ reg.serv_hours.serv_hours_loc }}</td>
            <td>&nbsp;</td>
            <td>{{ reg.serv_hours.serv_hours_task }}</td>

            <td>
                {% if reg.serv_hours.is_rendered == 0 %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table> 
</div>
</main>
{% endblock %}