{% extends 'base.html' %}
{% load static %}

{% block title %}Signups Hours{% endblock %}

{% block content %}
<header>
    <p><a href="{% url 'Admin:scholars-listview' %}">LIST OF<br>DORM SCHOLARS</a></p>
    <p><a href="{% url 'Admin:signup-hours-listview' %}">Signups<br>Hours</a></p>
    <a href="{% url 'Admin:admin_view' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Requests</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>SIGNUPS HOURS</h2>
<div class="card">
    <div class="signup-hour-filters">
        <table>
            <tr>
                <td><p class = "search">Search<textarea rows="1" cols="30"></textarea></p></td>
            </tr>
            <tr>
                <td><p class="sort">Sort by <textarea rows="1" cols="25"></textarea></p></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><button>ADD SLOT</button></td>
                <td><button>ADD MULTIPLE SLOTS</button></td>
            </tr>
            <tr>
                <td><button>DELETE SLOT</button></td>
                <td><button>DELETE MULTIPLE SLOTS</button></td>
            </tr>
            <tr>
                <td></td>
                <td><button>EDIT SLOTS</button></td>
            </tr>
        </table>
    </div>
    <hr class="solidline">
    <table class="serv-hour-list">
        {% for object in object_list %}
        <tr>
            <td><div>{{ object.serv_hours_date }}</div></td>
            <td><div>{{ object.serv_hours_start_time }} - {{ object.serv_hours_end_time }}</div></td>
            <td><div>{{ object.serv_hours_loc }}</div></td>
        </tr>
        
        {% endfor %}
    </table>
    <div class="pagination">
        <ul class="step-links">
            {% if page_obj.has_previous %}
                <li><a href="?page=1">&lt;&lt;</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
            {% else %}
                <li><a href="">&lt;&lt;</a></li>
                <li><a href="">&lt;</a></li>
            {% endif %}
            <li id="page_number"><span>{{ page_obj.number|stringformat:"02d" }}</span></li>

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a></li>
            {% else %}
                <li><a href="">&gt;</a></li>
                <li><a href="">&gt;&gt;</a></li>
            {% endif %}
        </ul>
    </div>
</div>

    

</main>
{% endblock %}