<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<header>
    <p class="username">{{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
</header>

<body>
    <div class="homepage-link"><p><a href="">Profile</a></p></div>
    <div class="homepage-link"><p><a href="">White Card</a></p></div>
    <div class="homepage-link"><p><a href="">Swap Hours</a></p></div>
    <div class="homepage-link"><p><a href="">Contact</a></p></div>
</body>
{% endblock %}