{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<header>
    <p><a href="">Profile</a></p>
    <p><a href="{% url 'white_card' %}">White Card</a></p>
    <a href="{% url 'home' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Swap Hours</a></p>
    <p><a href="">Contact</a></p>
</header>

<body>
<h2>Profile</h2>
<div>
    <table>
        <tr>
            <th>Name</th>
            <td>Surname, First Name MI.</td>
        </tr>
        <tr>
            <th>ID Number</th>
            <td>2XXXXX</td>
        </tr>
        <tr>
            <th>Yr. & Course Code</th>
            <td># BX XXXX</td>
        </tr>
        <tr>
            <th>OBF Email</th>
            <td>firstname.lastname@obf.ateneo.edu</td>
        </tr>
        <tr>
            <th>Bldg. & Room No.</th>
            <td>UDS304</td>
        </tr>
        <tr>
            <th>Contact No.</th>
            <td>09XX - XXX - XXXX</td>
        </tr>
    </table>
    <p><a href="">Browse Dorm Assistants' Kit</a></p>
</div>
<div>
    <h3>Deloading Request Status:</h3>
    <p>Not submitted</p>
    <button><a href="">Fill up Form</a></button>
</div>
<div>
    <h2>Signup</h2>
    <p>You have not signed up for dorm service hours yet.</p>
    <button><a href="">Sign Up</a></button>
</div>
</body>
{% endblock %}