{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<header class="nav">
    <p><a href="">Profile</a></p>
    <p><a href="{% url 'white_card' %}">White Card</a></p>
    <a href="{% url 'scholar_view' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Swap Hours</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>Profile</h2>
<div class="flex-row">
    <div class="card flex-3-2">
        <table>
            <tr class="align-left">
                <th>Name</th>
                <td>Surname, First Name MI.</td>
            </tr>
            <tr  class="align-left">
                <th>ID Number</th>
                <td>2XXXXX</td>
            </tr>
            <tr  class="align-left">
                <th>Yr. & Course Code</th>
                <td># BX XXXX</td>
            </tr>
            <tr  class="align-left">
                <th>OBF Email</th>
                <td>firstname.lastname@obf.ateneo.edu</td>
            </tr>
            <tr  class="align-left">
                <th>Bldg. & Room No.</th>
                <td>UDS304</td>
            </tr>
            <tr  class="align-left">
                <th>Contact No.</th>
                <td>09XX - XXX - XXXX</td>
            </tr>
        </table>
        <p><a href="">Browse Dorm Assistants' Kit</a></p>
    </div>
    <div class="card flex profile-deloading flex-column">
        <h3>Deloading Request Status</h3>
        <p class="flex">Not submitted</p>
        <button><a href="">Fill up Form</a></button>
    </div>
</div>

<div class="card profile-signup">
    <h2>Signup</h2>
    <p>You have not signed up for dorm service hours yet.</p>
    <button><a href="">Sign Up</a></button>
</div>
</main>
{% endblock %}