{% extends 'base.html' %}
{% load static %}

{% block title %}Dorm Scholars{% endblock %}

{% block content %}
<header>
    <p><a href="{% url 'scholars-listview' %}">Dorm Scholars</a></p>
    <p><a href="">Signups Hours</a></p>
    <a href="{% url 'admin_view' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Requests</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>LIST OF DORM SCHOLARS</h2>
<ul>
    {% for object in object_list%}
    <li><p>{{object.room_code}}</p></li>
    {% endfor %}
</ul>
</main>
{% endblock %}