{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<header class="nav">
    <p><a href="{% url 'Scholar:scholar_view_profile' user_id=user_details.user_id %}">Profile</a></p>
    <p><a href="{% url 'Scholar:scholar_white_card' user_id=user_details.user_id %}">White Card</a></p>
    <a href="{% url 'Scholar:scholar_view' user_id=user_details.user_id %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Swap<br>Hours</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>Profile</h2>
<div class="flex-row">
    <div class="card flex-3-2 profile-details">
        <table>
            <tr class="align-left">
                <th>Name</th>
                <td><span>{{ scholar_details.scholar_LN }}</span>, {{ scholar_details.scholar_FN }} {{ scholar_details.scholar_MI}}. </td>
            </tr>
            <tr  class="align-left">
                <th>ID Number</th>
                <td>{{ user_details.user_id }}</td>
            </tr>
            <tr  class="align-left">
                <th>Yr. & Course Code</th>
                <td>{{ scholar_details.scholar_year }} {{ scholar_details.course }}</td>
            </tr>
            <tr  class="align-left">
                <th>OBF Email</th>
                <td>{{ user_details.email }}</td>
            </tr>
            <tr  class="align-left">
                <th>Bldg. & Room No.</th>
                <td>{{ scholar_details.room_code }}</td>
            </tr>
            <tr  class="align-left">
                <th>Contact No.</th>
                <td>{{ scholar_details.contact_no }}</td>
            </tr>
        </table>
        <div><p class="dorm-assistant-kit"><a href="">Browse Dorm Assistants' Kit</a></p></div>
    </div>
    <div class="card flex profile-deloading flex-column">
        <h3>Deloading Request Status</h3>
        <p class="flex">Not submitted</p>
        <div class="deloading-request-button"><button href=""><a>FILL UP FORM</a></button></div>
    </div>
</div>

<div class="card profile-signup">
    <h2>Signup</h2>
    <table class="scholar-white-card-summary">
        <tr class="scholar-white-card-header">
            <td>&nbsp;</td>
            <td>DATE</td>
            <td>TIME</td>
            <td>BLDG</td>
            <td>REMARKS</td>
            <td>TASKS PERFORMED</td>
            <td>STATUS</td>
        </tr>
        {% for entry in servHoursListing_details %}    
        <tr class="innerCard scholar-white-card-body">
            <td>{{ forloop.counter}}</td>
            <td>{{ entry.serv_hours_date }}</td>
            <td>{{ entry.serv_hours_start_time }} - {{ entry.serv_hours_end_time }}</td>
            <td>{{ entry.serv_hours_loc }}</td>
            <td>&nbsp;</td>
            <td>{{ entry.serv_hours_task }}</td>

            <td>
                {% if entry.is_rendered == 0 %}
                    No
                {% else %}
                    Yes
                {% endif %}
            </td>
        </tr>
        {% empty %}
            <p>You have not signed up for dorm service hours yet.</p>
        {% endfor %}
        {% for reg in registration %}    
            <tr class="innerCard scholar-white-card-body">
                <td>{{ forloop.counter}}</td>
                <td>{{ reg.serv_hours.serv_hours_date }}</td>
                <td>{{ reg.serv_hours.serv_hours_start_time }} - {{ reg.serv_hours.serv_hours_end_time }}</td>
                <td>{{ reg.serv_hours.serv_hours_loc }}</td>
                <td>&nbsp;</td>
                <td>{{ reg.serv_hours.serv_hours_task }}</td>

                <td class="status">
                    {% if reg.serv_hours.is_rendered == 0 %}
                        No
                    {% else %}
                        Yes
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

    <div><button><a href="{% url 'Scholar:scholar_hours_signup' user_id=user_details.user_id %}">SIGN UP</a></button></div>
</div>
</main>
{% endblock %}