{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<header>
    <img class="logo" src="{% static 'logo.png' %}">
</header>

<main>
<div class="flex-row user-info">
    <p>{{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
</div>

<div class="flex-row center homepage-card-div">
    <div class="card homepage-card"><p><a href="profile/">Profile</a></p></div>
    <div class="card homepage-card"><p><a href="white_card/">White Card</a></p></div>
    <div class="card homepage-card"><p><a href="">Swap Hours</a></p></div>
    <div class="card homepage-card"><p><a href="">Contact</a></p></div>
</div>
</main>
{% endblock %}