{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<header class="nav">
    <p><a href="{% url 'Scholar:scholar_view_profile' user_id=user_details.user_id %}">&nbsp;Profile</a></p>
    <p><a href="{% url 'Scholar:scholar_white_card' user_id=user_details.user_id %}">&nbsp;White Card</a></p>
    <a href="{% url 'Scholar:scholar_view' user_id=user_details.user_id %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Swap<br>Hours</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>Profile</h2>
<div class="flex-row">
    <div class="card flex-3-2 profile-details">
        <table>
            <tr class="align-left">
                <th>Name</th>
                <td><span>{{ scholar_details.scholar_LN }}</span>, {{ scholar_details.scholar_FN }} {{ scholar_details.scholar_MI}}. </td>
            </tr>
            <tr  class="align-left">
                <th>ID Number</th>
                <td>{{ user_details.user_id }}</td>
            </tr>
            <tr  class="align-left">
                <th>Yr. & Course Code</th>
                <td>{{ scholar_details.scholar_year }} {{ scholar_details.course }}</td>
            </tr>
            <tr  class="align-left">
                <th>OBF Email</th>
                <td>{{ user_details.email }}</td>
            </tr>
            <tr  class="align-left">
                <th>Bldg. & Room No.</th>
                <td>{{ scholar_details.room_code }}</td>
            </tr>
            <tr  class="align-left">
                <th>Contact No.</th>
                <td>{{ scholar_details.contact_no }}</td>
            </tr>
        </table>
        <div><p class="dorm-assistant-kit"><a href="">Browse Dorm Assistants' Kit</a></p></div>
    </div>
    <div class="card flex profile-deloading flex-column">
        <h3>Deloading Request Status</h3>
        <p class="flex">Not submitted</p>
        <div class="deloading-request-button"><button href=""><a>FILL UP FORM</a></button></div>
    </div>
</div>

<div class="card profile-signup">
    <h2>Signup</h2>
    <p>You have not signed up for dorm service hours yet.</p>
    <div><button><a href="{% url 'Scholar:scholar_hours_signup' user_id=user_details.user_id %}">SIGN UP</a></button></div>
</div>
</main>
{% endblock %}