{% extends 'base.html' %}
{% load static %}

{% block title %}List of Dorm Scholars{% endblock %}

{% block content %}
<header>
    <p><a href="{% url 'profile' %}">Profile</a></p>
    <p><a href="">White Card</a></p>
    <a href="{% url 'home' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Swap Hours</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>LIST OF DORM SCHOLARS</h2>
<ul>
    {% for object in object_list%}
    <li><p>{{object.room_code}}</p></li>
    {% endfor %}    
</ul>
</main>
{% endblock %}