{% extends 'base.html' %}
{% load static %}

{% block title %}Signups Hours{% endblock %}

{% block content %}
<header>
    <p><a href="{% url 'scholars-listview' %}">Dorm Scholars</a></p>
    <p><a href="{% url 'signups_hours' %}">Signups Hours</a></p>
    <a href="{% url 'admin_view' %}" ><img class="logo" src="{% static 'logo.png' %}"></a>
    <p><a href="">Requests</a></p>
    <p><a href="">Contact</a></p>
</header>

<main>
<h2>SIGNUPS HOURS</h2>
<ul>
    {% for listing in object_list%}
    <li><p>{{listing.serv_hours_task}}</p></li>
    <li><p>{{listing.serv_hours_date}}</p></li>
    <li><p>{{listing.serv_hours_time}}</p></li>
    <li><p>{{listing.serv_hours_loc}}</p></li>
    <li><p>{{listing.serv_hours_slot_count}}</p></li>
    {% endfor %}
</ul>
</main>
{% endblock %}